.order-card {
    padding: 20px;
    margin-left: 250px; /* Adjust based on Sidebar width */
  }
  
  .order-card h1 {
    color: #3498db;
    margin-bottom: 20px;
  }
  
  .order-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(25% - 20px); /* Adjust based on desired card size and gap */
  }
  
  .card h2 {
    color: #333;
    margin-top: 0;
  }
  
  .card p {
    margin: 10px 0;
  }
  